<ion-tabs class="tabs-striped tabs-color-dark tab-page">

    <!-- Movies Tab -->
    <ion-tab title="Movies" icon-off="ion-ios-film-outline" icon-on="ion-ios-film" href="#/tab/movies">
        <ion-nav-view name="movies"></ion-nav-view>
    </ion-tab>

    <!-- Home Tab -->
    <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
        <ion-nav-view name="home"></ion-nav-view>
    </ion-tab>

    <!-- TV Shows Tab -->
    <ion-tab title="TV Shows" icon-off="ion-ios-videocam-outline" icon-on="ion-ios-videocam" href="#/tab/shows">
        <ion-nav-view name="shows"></ion-nav-view>
    </ion-tab>

</ion-tabs>
